<!doctype html>
<html lang="en-US">
  <head >
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="utf-8">
    <meta http-equiv="X-US-Compatible" content="IE=edge">
    <title><%= title %> | 'All Albums' </title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
      <a href ="/albums/new">Add New Album</a>

      <h1> All Albums </h1>
      <table>
        <thead>
          <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Genre</th>
            <th >Year </th>
          </tr>
        </thead>

        <tbody>
            <% albums.forEach(function(album) { %>
              <tr>
                <td><%= album._id %></td>
                <td><%= album.title %></td>
                <td><%= album.genre %></td>
                <td><%= album.year %></td>
                <td><form action="/albums/delete/<%= album._id %>" method="POST">
                <input type="submit" value="delete"></form></td>
              </tr>
            <% }); %>
        </tbody>
      </table>

    </body>
</html>
