<!doctype html>
<html lang="en-US">
  <head >
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="utf-8">
    <meta http-equiv="X-US-Compatible" content="IE=edge">
    <title><%= title %> | 'Artists' </title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
      <a href="/artists/new"><button>Add New Artist</button></a>

      <h1> All Artists </h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genre</th>
            <th >Bio </th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
            <% artists.forEach(function(artist) { %>
              <tr>
                <td><a href="/<%= artist._id %>/"><%= artist.name %></a></td>
                <td><%= artist.genre %></td>
                <td><textarea name="bio" rows="3"><%= artist.bio %></textarea>
                </td>
                <td><%= artist.album %></td>
                <td><form action="/<%= artist._id %>/delete" method="POST"><input type="submit" value="delete"></form></td>
              </tr>
            <% }); %>
        </tbody>
      </table>

    </body>
  <a href="/albums"><button>See All Albums</button></a>
</html>
